<div class="patents">
  <h2>Patents</h2>
  {% if site.data.patents %}
    {% for patent in site.data.patents %}
      <div class="patent-item" style="margin-bottom: 2rem;">
        <div style="margin-bottom: 0.5rem;">
          <strong>{{ patent.number }}</strong>
          <span class="font-weight-light" style="margin-left: 0.5rem;">
            {{ patent.date }} ({{ patent. status }})
          </span>
        </div>
        <div style="margin-left: 0; line-height: 1.6;">
          <div style="margin-bottom: 0.3rem;">
            <strong>[KOR]</strong> {{ patent. title_kor }}
          </div>
          <div>
            <strong>[ENG]</strong> {{ patent.title_eng }}
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}
</div>
